@model BiblioTech.Models.Emprestimo

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do Emprestimo</h1>

<div>
    <h4>Emprestimo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuario.cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.livro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.livro.titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataEmprestimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataEmprestimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataDevolucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataDevolucao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.emprestimoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
